<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Play! Commands"
            id="org.playframework.playclipse.commands.main">
      </category>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="Go to View"
            helpContextId="Use it on a &quot;render()&quot; call to open the corresponding view."
            id="org.playframework.playclipse.commands.goToViewCommand"
            name="Go to View">
      </command>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="Go to Action"
            helpContextId="Use it in a view to open the corresponding action."
            id="org.playframework.playclipse.commands.goToActionCommand"
            name="Go to Action">
      </command>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="Go to Route"
            helpContextId="Use it on an action in a controller to open the corresponding route declaration."
            id="org.playframework.playclipse.commands.goToRouteCommand"
            name="Go to Route">
      </command>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="New Controller"
            helpContextId="Create a new Play controller."
            id="org.playframework.playclipse.commands.newController"
            name="New Controller">
      </command>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="New Model"
            helpContextId="Create a new Play model."
            id="org.playframework.playclipse.commands.newModel"
            name="New Model">
      </command>
      <command
            categoryId="org.playframework.playclipse.commands.main"
            description="New View"
            helpContextId="Create a new Play view."
            id="org.playframework.playclipse.commands.newView"
            name="New View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.playframework.playclipse.commands.goToViewCommand"
            class="org.playframework.playclipse.handlers.GoToViewHandler">
      </handler>
      <handler
            commandId="org.playframework.playclipse.commands.goToActionCommand"
            class="org.playframework.playclipse.handlers.GoToActionHandler">
      </handler>
      <handler
            commandId="org.playframework.playclipse.commands.goToRouteCommand"
            class="org.playframework.playclipse.handlers.GoToRouteHandler">
      </handler>
      <handler
            commandId="org.playframework.playclipse.commands.newController"
            class="org.playframework.playclipse.handlers.NewControllerHandler">
      </handler>
      <handler
            commandId="org.playframework.playclipse.commands.newModel"
            class="org.playframework.playclipse.handlers.NewModelHandler">
      </handler>
      <handler
            commandId="org.playframework.playclipse.commands.newView"
            class="org.playframework.playclipse.handlers.NewViewHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.playframework.playclipse.commands.goToActionCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+A">
      </key>
      <key
            commandId="org.playframework.playclipse.commands.goToRouteCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+R">
      </key>
      <key
            commandId="org.playframework.playclipse.commands.newController"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+C">
      </key>
      <key
            commandId="org.playframework.playclipse.commands.newView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+V">
      </key>
      <key
            commandId="org.playframework.playclipse.commands.newModel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+M">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Play!"
               mnemonic="l"
               id="org.playframework.playclipse.menus.play">
            <command
                  commandId="org.playframework.playclipse.commands.newController"
                  icon="icons/controller.png"
                  label="New Controller"
                  mnemonic="C"
                  style="push">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.newModel"
                  icon="icons/model.png"
                  label="New Model"
                  mnemonic="M"
                  style="push">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.newView"
                  icon="icons/view.png"
                  label="New View"
                  mnemonic="V"
                  style="push">
            </command>
            <separator
                  name="Playclipse.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.playframework.playclipse.commands.goToViewCommand"
                  id="org.playframework.playclipse.menus.goToViewCommand"
                  mnemonic="w">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.goToActionCommand"
                  id="org.playframework.playclipse.menus.goToActionCommand"
                  mnemonic="A">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.goToRouteCommand"
                  id="org.playframework.playclipse.menus.goToRouteCommand"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.playframework.playclipse.toolbars.playToolbar">
            <command
                  commandId="org.playframework.playclipse.commands.newController"
                  icon="icons/controller.png"
                  tooltip="New Controller"
                  id="org.playframework.playclipse.toolbars.newControllerCommand">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.newView"
                  icon="icons/page_white_code_red.png"
                  id="org.playframework.playclipse.toolbars.newViewCommand"
                  tooltip="New View">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.newModel"
                  icon="icons/model.png"
                  id="org.playframework.playclipse.toolbars.newModelCommand"
                  tooltip="New Model">
            </command>
            <command
                  commandId="org.playframework.playclipse.commands.goToRouteCommand"
                  icon="icons/routes.png"
                  id="org.playframework.playclipse.toolbars.goToRouteCommand"
                  tooltip="Go to Route">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.playframework.playclipse"
            name="Play! Framework" />
      <wizard
            class="org.playframework.playclipse.wizards.ControllerWizard"
            icon="icons/controller.png"
            category="org.playframework.playclipse"
            name="Play Controller"
            id="org.playframework.playclipse.wizards.ControllerWizard"/>
      <wizard
            class="org.playframework.playclipse.wizards.ViewWizard"
            icon="icons/page_white_code_red.png"
            category="org.playframework.playclipse"
            name="Play View"
            id="org.playframework.playclipse.wizards.ViewWizard"/>
      <wizard
            class="org.playframework.playclipse.wizards.ModelWizard"
            icon="icons/model.png"
            category="org.playframework.playclipse"
            name="Play Model"
            id="org.playframework.playclipse.wizards.ModelWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.playframework.playclipse.editors.html.HTMLEditor"
            default="false"
            extensions="html"
            icon="icons/page_white_code_red.png"
            id="HTMLEditor"
            name="HTML (Play)">
      </editor>
      <editor
            class="org.playframework.playclipse.editors.RouteEditor"
            default="false"
            filenames="routes"
            icon="icons/page_white_go.png"
            id="RouteEditor"
            name="Play routes">
      </editor>
      <editor
            class="org.playframework.playclipse.editors.ConfEditor"
            default="false"
            filenames="application.conf"
            icon="icons/page_white_gear.png"
            id="ConfEditor"
            name="Play Configuration File">
      </editor>
   </extension>

	<extension point="org.eclipse.ui.editors.templates">
       <include file="templates/templates.xml"/>
	</extension>
 <extension
       id="PlayBuilder"
       name="Play Project Builder"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true">
       <run
             class="org.playframework.playclipse.builder.PlayBuilder">
       </run>
    </builder>
 </extension>
 <extension
       id="playNature"
       name="Play Project Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="org.playframework.playclipse.builder.PlayNature">
       </run>
    </runtime>
    <builder
          id="org.playframework.playclipse.PlayBuilder">
    </builder>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="org.playframework.playclipse.contribution1"
          nameFilter="*"
          objectClass="org.eclipse.core.resources.IProject">
       <action
             class="org.playframework.playclipse.builder.ToggleNatureAction"
             enablesFor="+"
             id="org.playframework.playclipse.addRemoveNatureAction"
             label="Add/Remove Play Nature"
             menubarPath="additions">
       </action>
    </objectContribution>
 </extension>
 <extension
       id="xmlProblem"
       name="XML Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.playframework.playclipse.preferences.PlayPreferencePage"
          id="org.playframework.playclipse.preferences.PlayPreferencePage"
          name="Play">
    </page>
    <page
          category="org.playframework.playclipse.preferences.PlayPreferencePage"
          class="org.playframework.playclipse.preferences.RoutesEditorPreferencePage"
          id="org.playframework.playclipse.preferences.EditorsPreferencePage"
          name="Route Editor">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.playframework.playclipse.preferences.PreferenceInitializer">
    </initializer>
    <initializer
          class="org.playframework.playclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>

</plugin>
